# Pandas Profiling

In [1]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\anaconda\lib\site-packages (3.6.0)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\anaconda\lib\site-packages (from pandas-profiling) (1.4.2)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\anaconda\lib\site-packages (from pandas-profiling) (1.21.5)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\anaconda\lib\site-packages (from pandas-profiling) (0.13.2)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in c:\anaconda\lib\site-packages (from pandas-profiling) (2.13.3)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in c:\anaconda\lib\site-packages (from pandas-profiling) (1.10.2)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\anaconda\lib\site-packages (from pandas-profiling) (4.64.0)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\anaconda\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: htmlmin==0.1.12 in c:\anaconda\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\anaconda\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\anaconda\lib\site-packages (from pandas-profiling) (3.5.1)
Requirement already satisfied: multimethod<1.10,>=1.4 in c:\anaconda\lib\site-packages (from pandas-profiling) (1.9.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\anaconda\lib\site-packages (from pandas-profiling) (0.7.5)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\anaconda\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\anaconda\lib\site-packages (from pandas-profiling) (0.12.3)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\anaconda\lib\site-packages (from pandas-profiling) (1.7.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\anaconda\lib\site-packages (from pandas-profiling) (2.27.1)
Requirement already satisfied: attrs>=19.3.0 in c:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (21.4.0)
Requirement already satisfied: networkx>=2.4 in c:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.7.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (0.2.0)
Requirement already satisfied: Pillow in c:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (9.0.1)
Requirement already satisfied: imagehash in c:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (4.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\anaconda\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\anaconda\lib\site-packages (from phik<0.13,>=0.11.1->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\anaconda\lib\site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling) (4.1.1)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib<3.7,>=3.2->pandas-profiling) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.3)
Requirement already satisfied: patsy>=0.5.2 in c:\anaconda\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\anaconda\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.3.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("dataset/tested.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file="output.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]