# Ordinal Encoding

In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv("dataset/customer.csv")
df.shape

(50, 5)

In [18]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [19]:
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

# Train and Test

In [24]:
x = df.drop('purchased',axis=1)
y = df['purchased']
x.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [25]:
from sklearn.model_selection import train_test_split


x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.20,random_state=1)

# Ordinal Encoding

In [26]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encode = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']]) 
ordinal_encode.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [27]:
x_train_transformed = ordinal_encode.transform(x_train)
x_test_transformed = ordinal_encode.transform(x_test)

In [29]:
x_train_transformed

array([[1., 1.],
       [0., 2.],
       [1., 2.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [0., 1.],
       [0., 2.],
       [1., 2.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [1., 2.]])

In [31]:
ordinal_encode.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# Lable Encoding

In [32]:
from sklearn.preprocessing import LabelEncoder
lable = LabelEncoder()

In [33]:
lable.fit(y_train)

LabelEncoder()

In [34]:
lable.classes_

array(['No', 'Yes'], dtype=object)

In [35]:
y_train_labled = lable.transform(y_train)
y_test_labled = lable.transform(y_test)

In [36]:
y_train_labled

array([1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1])

In [37]:
y_train

32    Yes
39     No
21     No
36    Yes
19    Yes
42    Yes
49     No
26     No
22    Yes
13     No
41    Yes
17    Yes
45    Yes
24    Yes
23     No
4      No
33    Yes
14    Yes
30     No
10    Yes
28     No
44     No
34     No
18     No
20    Yes
25     No
6      No
7     Yes
47    Yes
1      No
16    Yes
0      No
15     No
5     Yes
11    Yes
9     Yes
8      No
12     No
43     No
37    Yes
Name: purchased, dtype: object